
    <footer class="bg-dark text-white pt-4 pb-3 mt-auto "  >

        <div class="container mx-auto  text-md-left  ">
            <div class="row text-center text-md-left">
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-1">
                    <div style="text-align: left;">
                        <div class="text-uppercase mb-4  text-warning ">RAKTDAAN</div>
                        <p>this is blood donation system exclusive by graphic era medical insitute</p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 col-sm-3 mx-auto  " >
                    <div  style="text-align: left;">
                        <div class="text-uppercase mb-4  text-warning ">Special Thanks</div>
                        <p>
                            <a href="https://www.linkedin.com/in/ashutoshuniyal-012/" target="_blank" class="text-white"
                                style="text-decoration: none;">Ashutosh Uniyal</a>
                        </p>
                        <p>
                            <a href="https://www.linkedin.com/school/graphicerahilluniversity/" target="_blank"
                                class="text-white" style="text-decoration: none;">Graphic Era </a>
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto ">

                    <div style="text-align: left;">
                        <div class="  text-uppercase mb-4  text-warning  ">Contact</div>
                        <p>
                            <i class="fas fa-home mr-3"></i> Dehradun, Uttrakhand, IND
                        </p>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> ankitrawat200520001@gmail.com
                        </p>
                        <p>
                            <i class="fas fa-phone mr-3"></i> +91 7668942630
                        </p>
                    </div>
                </div>
            </div>
            <hr class="mb-2">
            <div class="row align-items-center">
                <div class="col-md-7 col-lg-8">
                    <p>Copyright ©2022 All rights reserved by :
                        <a href="https://www.linkedin.com/in/ankit-rawat-2397791bb/" target="_blank"
                            style="text-decoration: none;">
                            <span class="text-warning ">Ankit Rawat</span></a>
                    </p>
                </div>
                <div class="col-md-5 col-lg-4">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/in/ankit-rawat-2397791bb/" target="_blank"
                                class="btn-floating btn-sm text-white" style="font-size: 23px;"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/AnkitRawat9442" target="_blank"
                                class="btn-floating btn-sm text-white" style="font-size: 23px;"> <i
                                    class="fab fa-github"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/AnkitRawat9442" target="_blank"
                                class="btn-floating btn-sm text-white" style="font-size: 23px;"> <i
                                    class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


    </footer>
