
<section class="bg-blood p-5 text-center text-sm-start ">
  <div class="container-fluid ">
      <div class="d-sm-flex align-items-center justify-content-between ">
          <div class=" ">
              <h2> <span class="text-danger fs-1 fw-bold ">Donate</span> Blood <span class="text-danger fw-bold fs-1">Save</span>
                  Life</h2>
              <p class="my-4 fs-4 lead ">There's a NATIONAL BLOOD SHORTAGE <br> Your Blood Donation Can Help Save
                  Lives, Patients need your help

              </p>
              <a href="/user/donateblood" class="btm btn-danger btn-lg fs-2  text-decoration-none " >
                  Donate Blood
          </a>
          </div>

          <img src="/public/img/b_1.png" class="img-fluid w-50  d-md-block d-none" alt="">
      </div>
  </div>


</section>

<section class="mb-md-5 mb-4">
    <div class="container-fluid text-center d-flex flex-column align-items-center justify-content-center bg-light py-md-5 py-4 ">
        <h2>DONATION PROCESS </h2>
        <div class="text-danger mt-0 fs-1 fw-bold dash ">_________</div>
        <p class="lead fs-3  mt-4 py-2">
            The donation process from the time you arrive at center until the time you leave
        </p>
    </div>

 

    
    <div  class="d-flex flex-md-row flex-column gap-3 align-items-center justify-content-evenly text-center ">
       
          <div class="card shadow" style="width: 18rem;">
            <img src="/public/img/images/registration.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">REGISTRATION</h5>
              <p class="card-text">You need to complete a very simple registration form which contatins all required contact information to enter in the donation process.</p>
            
            </div>
          </div>
          <div class="card shadow " style="width: 18rem;">
            <img src="/public/img/images/screening.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">SCREENING</h5>
              <p class="card-text">A drop of blood from your finger will be taken for a simple test to ensure that your blood levels are proper enough for donation.</p>
             
            </div>
          </div>
          <div class="card shadow" style="width: 18rem;">
            <img src="/public/img/images/donation.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">DONATION</h5>
              <p class="card-text">After passing screening test successfully you will be directed to a donor bed for donation. It will take only 6-10 minutes.</p>
             
            </div>
          </div>
          <div class="card shadow" style="width: 18rem;">
            <img src="/public/img/images/Refreshment.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">REFRESHMENT</h5>
              <p class="card-text">you can also stay in the sitting room until you feel strong enough to leave the center. You will receive refreshments in the donation zone</p>
            
            </div>
          </div>
          
    </div>
</section>



<section class="bg-danger">
  <div class="container text-center py-3 text-white fs-2 fw-bold">
      LEARN ABOUT BLOOD DONATION
  </div>
</section>

<section class="bg-light">

      
      <div class="container bg-blood px-md-5 px-2" id="learn">
          <div class="row py-4 ">
              <h2 class="fs-3"><b>Whole Blood Donation</b></h2>
              <p>This is the most common type of donation received from our donors. The entire process takes about
                  an hour and includes four simple steps:</p>

              <ol>
                  <li class="FS-5"><b> Complete a Donor Health Questionnaire</b></li>
                  <li class="FS-5" > <b> Mini-Physical Health Screening</b></li>
                  <ol>

                      <li >
                          <p>One of our trained staff members will take your temperature, measure your blood
                              pressure, measure your hemoglobin (iron) levels and ask questions about your form
                              and answer any questions you have.</p>
                      </li>
                  </ol>
                  <li class="FS-5" > <b>The Donation</b></li>
                  <ol >
                      <li>This part typically takes less than 15 minutes</li>
                      <li>Insider Tip: The donation will go faster if you are hydrated!</li>
                      <li>Insider Tip 3: Please eat before you donate. There is no need to fast.
                      </li>
                  </ol>
                  <li class="FS-5" ><b>Refreshments</b></li>
                  <ol >
                      <li>We ask that you stay about 15 minutes and have some delicious snacks in our canteen area
                          before leaving our facility.</li>
                  </ol>
              </ol>
              <br>
              <p  >A whole blood donation includes four components including: </p>
              <ul  >
                  <li>Red Blood Cells</li>
                  <li>Platelets</li>
                  <li>Plasma</li>
                  <li>White Blood Cells</li>
              </ul>
              <br>
              <p  >After your generous blood donation is received, it travels to our testing facility where the
                  white blood cells are removed and the remaining components are separated into units of red blood
                  cells, platelets and plasma. When a patient needs a transfusion, doctors typically prescribe
                  platelets OR red cells OR plasma, which is why it is critical for the blood to be divided into
                  the components before being shipped to patients in need. Each time you donate whole blood you
                  can help save up to THREE lives.</p>
          </div>
      </div>
 
      <div class="container text-center my-md-4 my-3 " >
         
              <div class="card shadow-lg mx-auto p-md-5 p-3 " style="width: 30rem;">
                  <img src="/public/img/Ankit.jpeg" class=" img-fluid shadow rounded-circle  card-img-top" alt="">
                  <h4 class="card-title text-dark mt-2">Ankit Rawat </h4>
                  <strong class="card-title text-primary">Web developer</strong>
                  <p class="card-body fst-italic">Level up your web development skills with me.</p>
                  <span class="mb-2 fs-2" ><a href="https://github.com/AnkitRawat9442" target="_blank" class="text-dark"><i class="lab la-github"></i></a>
                <a href="https://www.linkedin.com/in/ankit-rawat-2397791bb/" target="_blank" class="text-"><i class="lab la-linkedin-in"></i></a>
            <a href="" class="text-danger" target="_blank"> <i class="lab la-instagram"></i></a></span>
              </div>
       
      </div>
</section>


